.control__container {
    grid-area: "control";
    width: 100%;
    height: 100%; // <-- this height has to be defined to keep control board from auto-scrolling to top when user clicks on a control block
    background-color: $cs-dark;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    // -webkit-transform: translate3d(0,0,0);
    display: grid;
    position: relative;
    grid-template-rows: 1 / 2;
    grid-template-columns: 1 / 2;
    grid-template-areas: 
        "board"
}

.control__board {
    @include clearfix;
    width: 100%;
    background-color: $cs-darkgrayx2;
    // background-image: linear-gradient(yellow, magenta);
    padding: 0 0 4rem 0;
    -webkit-transform: translate3d(0,0,0);
}

.control__block__title {
    float: left;
    width: 100%;
    height: 4rem;
    margin: 0 0 0.5rem 0;
    position: relative;
    cursor: pointer;
    // transition: background-color 0.5s, height 0.5s;
    background-color: $cs-gray;
    // border-bottom: 0.25rem solid $cs-darkgrayx2;
    display: grid;
    grid-template-areas: 1 / 1 / 2 / 2;
}
.control__block__title__text {
    align-self: center;
    justify-self: end;
    // @include cs-basicFont();
    color: $cs-yellow;
    font-size: 1.5rem;
    // font-weight: bold;
    margin: 0 1.5rem 0 0;
    // padding: 0 0.5rem 0.25rem 0;
    // box-shadow: 2px 2px 0px $cs-blue;
}
.control__block__body {
    float: left;
    width: 100%;

    // https://css-tricks.com/using-css-transitions-auto-dimensions/
    // in the end, i decided to calculate the hight of the block using scrollHeight and animate a transition between that value and zero (see Control.ts)
    // height: auto;
    // max-height: 1vh;

    margin: 0 0 1rem 0;
    position: relative;
    transition: background-color 0.5s, max-height 0.5s;
    background-color: $cs-light;
    overflow: hidden;
    display: grid;
    grid-template-areas: 1 / 1 / 2 / 2;
}

.control__item__container {
    // height: 7.5rem;
    border-top: 0.25rem solid $cs-darkgrayx2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem auto;
    grid-template-areas:
        "title"
        "body"
}
.control__item__title {
    // grid-area: "title";
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin: 0 0 0 0.5rem;
    @include cs-basicFont();
}
.control__item__hr {
    // grid-area: "title";
    @include zeroOut();
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: end;
    justify-self: center;
    background: $cs-gray;
    height: 1px;
    width: 80%;
}
.control__item__body {
    grid-area: "body";
    // height: 100%;
    width: 100%;
    // border-top: 1px solid shade($cs-gray, 25%);
    // border-top: 0.25rem solid $cs-darkgrayx2;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-areas: 1 / 1 / 2 / 2;
}
.control__item__button {
    grid-area: "body";
    align-self: center;
    justify-self: start;
    @include cs-basicFont();
    cursor: pointer;
    width: 50%;
    font-size: 0.75rem;
    height: 2rem;
    margin: 2rem 25% 2rem 25%;
    display: grid;
    align-content: center;
}
.control__item__sliderwithbutton {
    grid-area: "body";
    align-self: center;
    justify-self: start;
    @include cs-basicFont();
    cursor: pointer;
    width: 80%;
    font-size: 0.75rem;
    height: 2rem;
    margin: 2rem 10% 2rem 10%;
    display: grid;
    align-content: center;
    justify-self: center;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 15% 15%;
    grid-template-areas:
        "slider rndmButton calcButton"
}
.control__item__sliderwithbutton--hsla {
    grid-area: "body";
    align-self: center;
    justify-self: start;
    @include cs-basicFont();
    cursor: pointer;
    width: 80%;
    font-size: 0.75rem;
    height: 4rem;
    margin: 2rem 10% 2rem 10%;
    display: grid;
    align-content: center;
    justify-self: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 70% 15% 15%;
    // grid-template-areas:
        // "slider rndmButton calcButton"
}
.control__item__sidebuton {
    @include cs-basicFont();
    font-size: 0.75rem;
}

.--rndm {
    grid-area: "rndmButton";
}

.--calc {
    grid-area: "calcButton";

}

.control__item__checkboxwithbutton {
    grid-area: "body";
    align-self: center;
    justify-self: start;
    @include cs-basicFont();
    cursor: pointer;
    width: 50%;
    font-size: 0.75rem;
    height: 2rem;
    margin: 0 25% 0 25%;
    display: grid;
    align-content: center;
    justify-self: center;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 75%;
    grid-template-areas:
        "slider button"
}