.display__container {
    grid-area: "display";
    width: 100%;
    height: 100%;
    background-color: $cs-light;;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sundrawing {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}