// @import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "_bourbon";

$cs-dark: #1a1a1a;
$cs-light: #ffffeb;
$cs-blue: #4488ee;
$cs-darkblue: #224477;
$cs-yellow: #ffff00;
$cs-warning: #cc0000;
$cs-gray: #aaa;
$cs-darkgray: #777777;
$cs-darkgrayx2: #3c3c3c;

@mixin cs-basicFont() {
    font-family: "Courier", Courier, monospace;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: normal;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}
@mixin setBorder($width, $style, $color ) {
    border: $width $style $color;
    box-sizing: border-box;
}
@mixin zeroOut() {
    padding: 0;
    margin: 0;
    border: 0 solid transparent;
    box-sizing: border-box;
}

p {
    @include zeroOut();
    @include cs-basicFont();
}

h1 {
    @include zeroOut();
    @include cs-basicFont();
    font-size: 2rem;
    // font-weight: bold;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    border-radius: 0rem;
    // @include setBorder(2px, solid, $cs-darkblue);
    background-color: $cs-darkgray;
    // @include prefixer(box-shadow, inset 0px 0px 0px rgba(0,0,0,1), ("webkit"/*, "moz"*/));
}
::-webkit-scrollbar-thumb {
    border-radius: 0rem;
    // @include setBorder(2px, solid, $cs-darkblue);
    background-color: $cs-darkblue;
    // @include prefixer(box-shadow, inset 1px 1px 0px rgba(0,0,0,1), ("webkit"/*, "moz"*/));    
}