@import 'init';
@import 'display';
@import 'control';
@import '_bourbon';

:root {
    font-size: 14px;
    --size: 100vw;
    --rootContainerCols: 0fr var(--size) 0fr;
    --rootContainerRows: 1fr calc(var(--size)*9/16) 1fr;
}

html, body {
    @include zeroOut();
    width: 100%;
    height: 100%;
    background-color: $cs-dark;
    position: fixed;
}

.root__container {
    background-color: $cs-dark;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--rootContainerCols);
    grid-template-rows: var(--rootContainerRows);
}

.app__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;  
    background-color: $cs-dark;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: calc(9/16 * 100vw) 1fr;
    grid-template-rows: 100%;
    grid-gap: 2rem;
    grid-template-areas:
        "display control"
}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 800px) {
    :root {
        --size: 100vw;
        --rootContainerCols: 1fr calc(var(--size)) 1fr;
        --rootContainerRows: 0fr 100% 0fr;
    }
    .root__container {
        background-color: $cs-dark;
    }
    .app__container {
        grid-template-columns: 100%;
        grid-template-rows: calc(var(--size)) 1fr;
        grid-template-areas:
            "display"
            "control"
    }
    .control__container {
        height: calc((100vh - 100vw) + 0.5rem); // <-- this height has to be defined to keep control board from auto-scrolling to top when user clicks on a control block
    }
}
